.headerContainer {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a747d;
  border-radius: 0px 0px 8px 8px;
}

.titleHeader {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.fillerContainer {
  width: 120px;
  height: 100%;
}

@media only screen and (max-width: 860px) {
  .titleHeader {
    display: none;
  }
  .headerContainer {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a747d;
    border-radius: 0px 0px 8px 8px;
  }
  .fillerContainer {
    display: none;
  }
}
